CHARON_COOKIE_SECRET=
CHARON_PUBLIC_HOST=http://localhost:4500
CHARON_PORT=4500
CHARON_HEALTHCHECK_PATH=/healthz
# if set to true, the healthcheck route will return 200 OK, otherwise detailed json
CHARON_HEALTHCHECK_SIMPLE=false

# ---
# for autocomplete purposes only
CHARON_VERSION=
CHARON_CLIENT_0_WILDCARDS=
CHARON_CLIENT_0_PROVIDER=
CHARON_CLIENT_1_WILDCARDS=
CHARON_CLIENT_2_PROVIDER=
CHARON_CLIENT_3_WILDCARDS=
CHARON_CLIENT_3_PROVIDER=
CHARON_CLIENT_4_WILDCARDS=
CHARON_CLIENT_4_PROVIDER=
CHARON_CLIENT_5_WILDCARDS=
CHARON_CLIENT_5_PROVIDER=
CHARON_CLIENT_6_WILDCARDS=
CHARON_CLIENT_6_PROVIDER=
CHARON_CLIENT_7_WILDCARDS=
CHARON_CLIENT_7_PROVIDER=
CHARON_CLIENT_8_WILDCARDS=
CHARON_CLIENT_8_PROVIDER=
CHARON_CLIENT_9_WILDCARDS=
CHARON_CLIENT_9_PROVIDER=
